$z-index: 1000 !default;
$border-color: hsl(0, 0%, 88%) !default;

$icon-font-size: 24px !default;

$destination-min-width: 80px !default;
$destination-max-width: 168px !default;
$destination-horizontal-padding: 12px !default;
$destination-vertical-padding: 8px !default;
$destination-horizontal-min-width: $destination-min-width + $icon-font-size + (2 * $destination-horizontal-padding) !default;

$label-font-size: 12px !default;
$label-font-family: (
  -apple-system, // iOS
  BlinkMacSystemFont, // macOS
  Segoe UI, // Windows
  Roboto, // Android, Chrome OS
  Oxygen, // KDE
  Droid Sans, // Android
  Ubuntu, // Ubuntu
  Cantarell, // GNOME
  Open Sans, // any
  Helvetica Neue, // macOS
  sans-serif
) !default;

$badge-font-size: 10px !default;
$badge-color: white !default;
$badge-background-color: hsl(348, 100%, 52%) !default;

// 8dp elevation
$box-shadow: (
  0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12)
) !default;

@mixin root($background-color, $active-color, $inactive-color, $hide-inactive-labels: false) {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  font-family: $label-font-family;
  box-shadow: $box-shadow;
  border-top: 1px solid $border-color;
  background-color: $background-color;
  z-index: $z-index;

  -webkit-tap-highlight-color: transparent;

  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  @media print {
    display: none;
  }

  &__destination {
    flex: 1 1 0;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-right: $destination-horizontal-padding;
    padding-left: $destination-horizontal-padding;

    color: $inactive-color;
    text-decoration: none;

    &:focus {
      outline: 0;
    }
  }

  &__destination--active {
    color: $active-color;
  }

  &__icon {
    flex: 0 0 auto;

    display: block;
    width: 1em;
    height: 1em;

    margin-left: auto;
    margin-right: auto;

    font-size: $icon-font-size;

    path,
    polygon,
    rect {
      fill: currentColor;
    }

    circle {
      stroke: currentColor;
      stroke-width: 1;
    }
  }

  &__label {
    flex: 0 0 auto;

    margin-top: 4px;

    font-size: $label-font-size;
    font-weight: 400;
    line-height: 1;

    text-align: center;
    white-space: nowrap;
  }

  &__badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: calc(50% + 6px);

    padding: 2px;

    min-width: 9px;
    min-height: 9px;

    font-size: $badge-font-size;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;

    color: $badge-color;
    background-color: $badge-background-color;
    border-radius: 9999px;
  }

  @if $hide-inactive-labels {
    &__destination {
      padding-top: 2 * $destination-vertical-padding;
      padding-bottom: 2 * $destination-vertical-padding;

      min-width: $destination-min-width - (2 * $destination-horizontal-padding);
      max-width: $destination-max-width - (6 * $destination-horizontal-padding);
    }

    &__destination--active {
      padding-top: $destination-vertical-padding;
      padding-bottom: $destination-vertical-padding;

      min-width: $destination-min-width;
      max-width: $destination-max-width;
    }

    &__label {
      display: none;
    }

    &__destination--active &__label {
      display: block;
    }

    &__badge {
      top: 14px;
    }

    &__destination--active &__label + &__badge {
      top: 6px;
    }
  } @else {
    &__destination {
      padding-top: $destination-vertical-padding;
      padding-bottom: $destination-vertical-padding;

      min-width: $destination-min-width;
      max-width: $destination-max-width;
    }

    &__destination--active {
      padding-top: $destination-vertical-padding;
      padding-bottom: $destination-vertical-padding;

      min-width: $destination-min-width;
      max-width: $destination-max-width;
    }

    &__label {
      display: block;
    }

    &__badge {
      top: 6px;
    }
  }
}

@mixin horizontal($hide-inactive-labels: false) {
  &__destination {
    flex-direction: row;

    padding-top: 2 * $destination-vertical-padding;
    padding-bottom: 2 * $destination-vertical-padding;
  }

  &__destination--active {
    padding-top: 2 * $destination-vertical-padding;
    padding-bottom: 2 * $destination-vertical-padding;
  }

  &__icon {
    margin: {
      left: 0;
      right: 0;
    }
  }

  &__label {
    margin-top: 2px;
    margin-left: $destination-horizontal-padding;
    margin-right: $destination-horizontal-padding;
  }

  @if $hide-inactive-labels {
    &__destination {
      min-width: $destination-min-width - (2 * $destination-horizontal-padding);
      max-width: $destination-max-width - (6 * $destination-horizontal-padding);
    }

    &__destination--active {
      min-width: $destination-horizontal-min-width;
      max-width: $destination-max-width;
    }

    &__label {
      display: none;
    }

    &__destination--active &__label {
      display: block;
    }

    &__badge {
      top: 14px;
    }

    &__destination--active &__label + &__badge {
      top: 6px;
    }
  } @else {
    &__destination {
      min-width: $destination-horizontal-min-width;
      max-width: $destination-max-width;
    }

    &__destination--active {
      min-width: $destination-horizontal-min-width;
      max-width: $destination-max-width;
    }

    &__label {
      display: block;
    }

    &__badge {
      top: 6px;
    }
  }
}
