$bottom-nav-z-index: 1000 !default;
$bottom-nav-border-color: hsl(0, 0%, 88%) !default;

$bottom-nav-action-min-width: 80px !default;
$bottom-nav-action-max-width: 168px !default;
$bottom-nav-action-horizontal-padding: 12px !default;
$bottom-nav-action-vertical-padding: 8px !default;
$bottom-nav-action-horizontal-margin: 12px !default;

$bottom-nav-icon-font-size: 24px !default;
$bottom-nav-icon-margin-bottom: 4px !default;

$bottom-nav-label-font-size-inactive: 12px !default;
$bottom-nav-label-font-size-active: 14px !default;
$bottom-nav-label-font-family: (
  -apple-system, // iOS
  BlinkMacSystemFont, // macOS
  Segoe UI, // Windows
  Roboto, // Android, Chrome OS
  Oxygen, // KDE
  Droid Sans, // Android
  Ubuntu, // Ubuntu
  Cantarell, // GNOME
  Open Sans, // any
  Helvetica Neue, // macOS
  sans-serif
) !default;

// 8dp elevation
$bottom-nav-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
0 8px 10px 1px rgba(0, 0, 0, 0.14),
0 3px 14px 2px rgba(0, 0, 0, 0.12) !default;

@mixin bottom-nav($background-color, $active-color, $inactive-color, $hide-inactive-labels: false) {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  font-family: $bottom-nav-label-font-family;
  line-height: 1;
  text-align: center;
  white-space: nowrap;

  box-shadow: $bottom-nav-box-shadow;
  border-top: 1px solid $bottom-nav-border-color;
  background-color: $background-color;
  z-index: $bottom-nav-z-index;

  -webkit-tap-highlight-color: transparent;

  @media print {
    display: none;
  }

  &__action {
    padding: {
      right: $bottom-nav-action-horizontal-padding;
      left: $bottom-nav-action-horizontal-padding;
    }

    @if $hide-inactive-labels {
      padding: {
        top: 2 * $bottom-nav-action-vertical-padding;
        bottom: 2 * $bottom-nav-action-vertical-padding;
      }

      min-width: $bottom-nav-action-min-width - (4 * $bottom-nav-action-horizontal-padding);
      max-width: $bottom-nav-action-max-width - (8 * $bottom-nav-action-horizontal-padding);
    } @else {
      padding: {
        top: $bottom-nav-action-vertical-padding;
        bottom: $bottom-nav-action-vertical-padding;
      }

      min-width: $bottom-nav-action-min-width - (2 * $bottom-nav-action-horizontal-padding);
      max-width: $bottom-nav-action-max-width - (2 * $bottom-nav-action-horizontal-padding);
    }

    flex: 1 1 auto;
    color: $inactive-color;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: $bottom-nav-action-horizontal-margin;
    }

    &--active {
      padding-top: $bottom-nav-action-vertical-padding - 2px;
      color: $active-color;

      @if $hide-inactive-labels {
        padding: {
          bottom: $bottom-nav-action-vertical-padding;
        }

        min-width: $bottom-nav-action-min-width - (2 * $bottom-nav-action-horizontal-padding);
        max-width: $bottom-nav-action-max-width - (2 * $bottom-nav-action-horizontal-padding);
      }
    }
  }

  &__icon {
    display: block;
    width: 1em;
    height: 1em;
    font-size: $bottom-nav-icon-font-size;

    margin: {
      left: auto;
      right: auto;
    }

    @if $hide-inactive-labels == false {
      margin-bottom: $bottom-nav-icon-margin-bottom;
    }

    path,
    polygon,
    rect {
      fill: currentColor;
    }

    circle {
      stroke: currentColor;
      stroke-width: 1;
    }
  }

  &__action--active &__icon {
    @if $hide-inactive-labels {
      margin-bottom: $bottom-nav-icon-margin-bottom;
    }
  }

  &__label {
    @if $hide-inactive-labels {
      display: none;
    } @else {
      display: block;
      font-size: $bottom-nav-label-font-size-inactive;
    }
  }

  &__action--active &__label {
    font-size: $bottom-nav-label-font-size-active;

    @if $hide-inactive-labels {
      display: block;
    }
  }
}
