<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600" rel="stylesheet">
    <title>Material Bottom Navigation</title>
  </head>

  <body>
    <nav class="horizontal-nav">
      <a class="horizontal-nav__destination horizontal-nav__destination--active" href="#">
        <svg class="horizontal-nav__icon" viewBox="0 0 24 24">
          <path
              d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
        </svg>
        <span class="horizontal-nav__label">Favorites</span>
      </a>

      <a class="horizontal-nav__destination" href="#">
        <svg class="horizontal-nav__icon" viewBox="0 0 24 24">
          <path
              d="M12 3V13.55C11.41 13.21 10.73 13 10 13C7.79 13 6 14.79 6 17S7.79 21 10 21 14 19.21 14 17V7H18V3H12Z" />
        </svg>
        <span class="horizontal-nav__label">Music</span>
      </a>

      <a class="horizontal-nav__destination" href="#">
        <svg class="horizontal-nav__icon" viewBox="0 0 24 24">
          <path
              d="M13,12H20V13.5H13M13,9.5H20V11H13M13,14.5H20V16H13M21,4H3A2,2 0 0,0 1,6V19A2,2 0 0,0 3,21H21A2,2 0 0,0 23,19V6A2,2 0 0,0 21,4M21,19H12V6H21" />
        </svg>
        <span class="horizontal-nav__label">Books</span>
      </a>

      <a class="horizontal-nav__destination" href="#">
        <svg class="horizontal-nav__icon" viewBox="0 0 24 24">
          <path
              d="M20,11H4V8H20M20,15H13V13H20M20,19H13V17H20M11,19H4V13H11M20.33,4.67L18.67,3L17,4.67L15.33,3L13.67,4.67L12,3L10.33,4.67L8.67,3L7,4.67L5.33,3L3.67,4.67L2,3V19A2,2 0 0,0 4,21H20A2,2 0 0,0 22,19V3L20.33,4.67Z" />
        </svg>
        <span class="horizontal-nav__label">News</span>
      </a>
    </nav>

    <main>
      <h2>Landscape view</h2>
      <p>On mobile (in landscape mode) or tablet, bottom navigation destinations can be positioned horizontally instead of stacked. In this case, it’s recommended that destinations are evenly distributed across the entire bar.</p>
    </main>
  </body>
</html>
