@use '../bottom-nav';

$grey-300: #E0E0E0;
$grey-600: #757575;
$red-500: #F44336;
$teal-500: #009688;
$purple-200: #BB86FC;
$purple-500: #6200EE;
$white: #FFFFFF;

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-y: scroll;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: normal;
  line-height: 1.75;

  color: #424242;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 600px;
  margin: 0 auto 20rem;

  padding: {
    left: 1rem;
    right: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding-top: 1.5em;

  font-weight: 400;
  line-height: 1.2;

  color: #212121;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}


h6 {
  font-size: 1rem;
}

p, ol, ul {
  margin: {
    top: 1em;
    bottom: 1em;
  }
}

ol, ul {
  padding-left: 20px;
}

strong {
  font-weight: 500;
}

.bottom-nav {
  @include bottom-nav.root(
    $background-color: $white,
    $active-color: $red-500,
    $inactive-color: $grey-600
  );
}

.hidden-labels-nav {
  @include bottom-nav.root(
    $background-color: $teal-500,
    $active-color: $white,
    $inactive-color: $grey-300,
    $hide-inactive-labels: true
  );
}

.badges-nav {
  @include bottom-nav.root(
    $background-color: $white,
    $active-color: $purple-500,
    $inactive-color: $grey-600,
    $hide-inactive-labels: true
  );
}

.horizontal-nav {
  @include bottom-nav.root(
    $background-color: $purple-500,
    $active-color: $white,
    $inactive-color: $purple-200
  );

  @media (min-width: bottom-nav.$destination-horizontal-min-width * 4) {
    @include bottom-nav.horizontal();
  }
}
