@import '../bottom-nav';

$grey-300: #E0E0E0;
$grey-600: #757575;
$red-500: #F44336;
$teal-500: #009688;
$white: #FFFFFF;

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-y: scroll;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: normal;
  line-height: 1.75;

  color: rgba(0, 0, 0, 0.87);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  max-width: 600px;
  margin: 6em auto;

  padding: {
    left: 1em;
    right: 1em;
  }
}

h1, h2, .subtitle {
  margin: {
    top: 2em;
    right: 0;
    bottom: 0.3em;
    left: -0.07em;
  }

  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1;
}

h1 {
  font-size: 3.5rem;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 1.2;
}

p, ol, ul, .subtitle {
  margin: {
    top: 0;
    bottom: 1.5rem;
  }
}

strong {
  font-weight: 500;
}

.bottom-nav {
  @include bottom-nav($white, $red-500, $grey-600);
}

.no-labels-nav {
  @include bottom-nav($teal-500, $white, $grey-300, true);
}
